*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(101, 206, 31)231, 26, 26;
}
.start{
    display: flex;
    background-color: blueviolet;
    align-items: center;
    color: aqua;
}
.logo{
    width: 80px;
    height: auto;
    padding-left: 20px;
}
.title{
    font-size: 1.5rem;
}
.nav{
    margin-left: auto;
    margin-right: 20px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
    padding: 13px;
}
.drop{
    display: none;
}
.nav ul li:hover{
    text-decoration: underline red;
    color: bisque;
    background-color: black;
}
.drop ul{
    display: grid;
    width: fit-content;
}
.nav li:hover .drop{
    display: grid;
    position: absolute;
}
.nav li:hover .drop ul{
    display: grid;
    background-color: blue;
}
.nav li:hover .drop ul li:hover{
    background-color: rgb(243, 17, 17);
}
.nav li:hover .drop ul li a:hover{
    color: aliceblue;
    text-decoration: wavy;
}
.stat{
    text-align: center;
    color: blue;
}
.content{
    margin: 10px;
}
.star{
    display: grid;
    background-color: rgb(187, 148, 100);
    /* background-image: url(.png); */
    background-size: cover;
    height: fit-content;
    margin: 20px;
}
.two{
    /* background-color: rgb(236, 236, 23); */
    margin: 10px;
    grid-column-end: 2;
    grid-column-start: 1;
    border-radius: 10%;
    padding: 10px;
    width: fit-content;
}
.two h2{
    font-size: 2rem;
    text-decoration: underline;
}
@media(max-width: 500px){
    .two h2{
        font-size: 1rem;
        text-decoration: underline rgb(22, 22, 22);
    }
    .two ul li{
        font-size: 0.6rem;
    }
    .star{
        height: fit-content;
    }
}